import('changepoint')
import('methods')
import('zoo')
importFrom("graphics", "abline", "lines", "segments")
importFrom("stats", "is.ts", "ts", "var")
 	

exportPattern("^[^\\.]")

useDynLib(changepoint.online)
